@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
    /* font-family: system-ui; */
    font-size: 16px;
    display: grid;
    place-items: center;
    background-color: #f0bda1;
    font-family: "Fira Sans", sans-serif;
}

:root {
    accent-color: rgb(0, 112, 163);
}

.bg-photo {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("./images/texture1.jpg");
    width: 100%;
    height: 100%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    opacity: 70%;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 330px;

    border: 1px solid #ffd2ba;
    padding: 20px;
    padding-top: 0;
    text-align: left;
    margin: 0;
    border-radius: 16px;

    background-color: #fff8f4;
    -webkit-box-shadow: 0px 5px 16px 5px rgba(15, 73, 145, 0.15);
    box-shadow: 0px 5px 16px 5px rgba(15, 73, 145, 0.15);
}

h1 {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Fira Sans", sans-serif;
}

.section1-mainInfo,
.section2-look,
.section3-character {
    display: flex;
    flex-direction: column;
    width: 330px;

    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.8rem;
    white-space: nowrap;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #d87a48;
}

.divider {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.line {
    height: 1px;
    width: -webkit-fill-available;
    margin-top: 0.5rem;
    /* background-color: rgb(0, 84, 122); */
    background-color: #c58661;
}

.title-label {
    margin-top: 20px;
    padding-bottom: 5px;
}

.radios {
    display: grid;
    grid: auto-flow 1fr / max-content 1fr;
    gap: 0.25rem 2rem;
    place-items: center start;
}

/* CHECK THAT OUT */
.form-control {
    display: grid;
    grid: auto / auto 1fr;
    place-items: center start;
    gap: 30px 10px;
}
/* END - CHECK THAT OUT */

/* ----- Input styling ----- */

/* input {
    -webkit-appearance: none;
    appearance: none;
} */

/* input:checked::before {
    appearance: ;
    color: red;
}
input:checked::after {
    color: green;
} */

/* input:valid {
    
} */
input[type="text"]:valid {
    color: orange;
}
/* :hover
:focus
:focus-within
:valid
:invalid (with error messages)
:checked (and unchecked)
:disabled */

.colorCircle {
    height: 10px;
    width: 10px;
    border-radius: 50px;
}
